

body{
    background-image: url( "https://static.vecteezy.com/system/resources/previews/002/008/069/large_2x/3d-starry-night-sky-background-free-photo.jpg")
}
h1{
    color: white;
}

.titulos{
    height: 5rem;
}

#dropdown-basic{
  background-color: #FFDE06;
  border-width: 0px;
  margin: 0px;
  padding: 2px;
  
}

.list-group-item{
 background:black !important;
 border: 1px solid #FFDE06;
 text-align:left !important;
}



.card:hover  {
    box-shadow: 1px 2px 30px 1px #FFDE06;
    transform:scale(1.1);
    border: 0px;
}

.favorite-button:hover{
    box-shadow: 1px 2px 30px 1px #FFDE06;
    transform:scale(1.1);
}

.card{
  border:0px solid black;
  transition:.2s;
  margin: 3rem;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.fa-heart, p, .card-title{
    color: #FFDE06;


}

.fa-heart:hover{
    box-shadow: 1px 2px 30px 1px #FFDE06;
    transform:scale(1.1);


}
.card-body{
    background-color: black;
}

.btn-primary {
    background-color: transparent;
    color:#FFDE06;
    border-width: 1px;
    border-color: #FFDE06;
}

.btn-primary:hover, .btn:focus {
    background-color: #FFDE06 !important;
    color: black !important;
    border: 0px !important;
}



